@use "../abstracts/variables" as v;

.cont_features {

    @media screen and (min-width: v.$min-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.feature {
    text-align: center;
}

.feature:nth-child(1),
.feature:nth-child(2) {
    display: grid;
    grid-template-rows: 1fr 1.4fr;
    background-color: v.$almost-white;

    @media screen and (min-width: v.$min-width) {
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr;
        height: 37.5rem;
        text-align: left;
    }
}

.feature:nth-child(1) {
    @media screen and (min-width: v.$min-width) {
        grid-column: 1/-1;
    }
}

.feature:nth-child(2) {
    @media screen and (min-width: v.$min-width) {
        grid-column: 1/-1;
    }
}

.feature:nth-child(3),
.feature:nth-child(4) {
    height: 37.5rem;
    display: grid;
    align-items: end;
}

/* images */
.feature:nth-child(1) > .feature_img,
.feature:nth-child(2) > .feature_img,
.feature:nth-child(3),
.feature:nth-child(4) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.feature:nth-child(1) > .feature_img {
    background-image: url(../../images/mobile/image-transform.jpg);
    
    @media screen and (min-width: v.$min-width) {
        background-image: url(../../images/desktop/image-transform.jpg);
        grid-column: 2;
        grid-row: 1;
    }
}

.feature:nth-child(2) > .feature_img {
    background-image: url(../../images/mobile/image-stand-out.jpg);

    @media screen and (min-width: v.$min-width) {
        background-image: url(../../images/desktop/image-stand-out.jpg);
    }
}

.feature:nth-child(3) {
    background-image: url(../../images/mobile/image-graphic-design.jpg);

    @media screen and (min-width: v.$min-width) {
        background-image: url(../../images/desktop/image-graphic-design.jpg);
    }
}

.feature:nth-child(4) {
    background-image: url(../../images/mobile/image-photography.jpg);

    @media screen and (min-width: v.$min-width) {
        background-image: url(../../images/desktop/image-photography.jpg);
    }
}

/* content */
.feature_content {
    display: grid;
    row-gap: 2rem;
    padding-block: 4rem;
    padding-inline: 1.25rem;
    height: fit-content;
}

.feature:nth-child(1) .feature_content,
.feature:nth-child(2) .feature_content {
    margin-block: auto;
}

.feature:nth-child(1) .feature_content {
    @media screen and (min-width: v.$min-width) {
        padding-inline: 10rem 6.875rem; 
    }
}

.feature:nth-child(2) .feature_content {
    @media screen and (min-width: v.$min-width) {
        padding-inline: 6.875rem 10rem; 
    }
}

.feature:nth-child(3) .feature_content,
.feature:nth-child(4) .feature_content {
    @media screen and (min-width: v.$min-width) {
        max-width: 21rem;
        padding-inline: 0;
        margin-inline: auto;
    }
}

/* title */
.content_title {
    font-family: v.$ff-fraunces;
    font-weight: v.$fw-fraunces-black;
    color: v.$very-dark-desaturated-blue;
}

.feature:nth-child(1) .content_title,
.feature:nth-child(2) .content_title {
    font-size: calc(v.$fs * 1.75);

    @media screen and (min-width: v.$min-width) {
        font-size: calc(v.$fs * 2.25);
    }
}

.feature:nth-child(3) .content_title,
.feature:nth-child(4) .content_title {
    font-size: calc(v.$fs * 1.5);
}


.feature:nth-child(3) .content_title {
    color: v.$dark-desaturated-cyan;
}

.feature:nth-child(4) .content_title {
    color: v.$dark-blue;
}

/* paragraph */
.content_paragraph {
    font-family: v.$ff-barlow;
    font-size: calc(v.$fs / 1.125);
    line-height: 1.5;
}

.feature:nth-child(1) .content_paragraph,
.feature:nth-child(2) .content_paragraph {
    font-size: v.$fs;
    color: v.$dark-grayish-blue;
    line-height: 1.75;
}

.feature:nth-child(2) .content_paragraph {
    @media screen and (min-width: v.$min-width) {
        padding-inline-end: 0rem ;
    }
}

.feature:nth-child(3) .content_paragraph {
    color: v.$dark-moderate-cyan;
}

.feature:nth-child(4) .content_paragraph {
    color: v.$dark-blue;
}

/* learn more */
.content_redirect {
    font-family: v.$ff-fraunces;
    font-weight: v.$fw-fraunces-black;
    color: v.$very-dark-desaturated-blue;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
    margin-inline: auto;
    position: relative;
    z-index: 2;

    @media screen and (min-width: v.$min-width) {
        margin-inline: unset;
    }
}

.content_redirect span {
    position: absolute;
    z-index: -1;
    left: -.5rem;
    bottom: -.25rem;
    width: 115%;
    height: .625rem;
    border-radius: 100vw;
    opacity: 30%;
}

.feature:nth-child(1) .content_redirect span {
    background-color: v.$yellow;
}

.feature:nth-child(2) .content_redirect span {
    background-color: v.$soft-red;
}