@use "../abstracts/variables" as v;

.foot {
    background-color: v.$footer-bg;
    padding-block: 4rem;
    display: grid;
    place-content: center;
    row-gap: 3rem;
}

.foot_logo {
    // https://codepen.io/jumarjuaton/full/mdJYWYq
    filter: invert(33%) sepia(74%) saturate(338%) hue-rotate(117deg) brightness(45%) contrast(90%);

    height: 2rem;
    margin-inline: auto;
}

.foot_options {
    display: flex;
    gap: 3.5rem;
    font-family: v.$ff-barlow;
    font-size: v.$fs;
    color: v.$dark-moderate-cyan;

    .option {
        text-decoration: none;
        color: inherit;
    
        &:hover {
            color: v.$almost-white;
        }
    }
}

.social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    color: v.$dark-desaturated-cyan;
    padding-block: 2rem 1rem;

    i:hover {
        color: v.$almost-white;
        cursor: pointer;
    }
}