@use "../abstracts/variables" as v;

.head {
    background-image: url(../../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 1.5rem;
    height: 33.75rem;

    @media screen and (min-width: v.$min-width) {
        background-image: url(../../images/desktop/image-header.jpg);
        padding: 2rem;
        height: 50rem;
    }
}

.header_content {
    display: grid;
    row-gap: 3rem;
    margin-block: 6rem;

    @media screen and (min-width: v.$min-width) {
        row-gap: 6rem;
        margin-block: 7rem;
    }
}

.header_title {
    font-family: v.$ff-fraunces;
    text-transform: uppercase;
    text-align: center;
    font-size: calc(v.$fs * 2.25);
    font-weight: v.$fw-fraunces-black;
    color: v.$white;
    letter-spacing: .5rem;

    @media screen and (min-width: v.$min-width) {
        font-size: calc(v.$fs * 3);
        word-spacing: 1rem;
    }
}

.header_arrow_down {
    margin-inline: auto;
}