@use "../abstracts/variables" as v;

.testimonials {
    display: grid;
    gap: 4rem;
    text-align: center;
    padding-block: 4rem 5.5rem;
    padding-inline: 1.5rem;
    background-color: v.$almost-white;

    @media screen and (min-width: v.$min-width) {
        padding-block: 10rem;
        gap: 5rem;
    }
}

.testimonials_container {
    display: grid;
    place-content: center;
    row-gap: 4rem;

    @media screen and (min-width: v.$min-width) {
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 2.5rem;
        column-gap: 2rem;
    }
}

.testimonials_title {
    font-family: v.$ff-fraunces;
    font-size: calc(v.$fs / 1.125);
    font-weight: v.$fw-fraunces-black;
    color: v.$grayish-blue;
    text-transform: uppercase;
    letter-spacing: .25rem;

    @media screen and (min-width: v.$min-width) {
        grid-column: 1/-1;
        font-size: calc(v.$fs * 1.125);
    }
}

.testimonial {
    display: grid;
    row-gap: 2.5rem;
    max-width: 22rem;

    @media screen and (min-width: v.$min-width) {
        row-gap: 3.5rem;
    }
}

.testimonial_img {
    max-width: 4.5rem;
    border-radius: 100vw;
    margin-inline: auto;
}

.testimonial_paragraph {
    font-family: v.$ff-barlow;
    font-size: v.$fs;
    color: v.$very-dark-grayish-blue;
    line-height: 1.75;
}

.testimonial_info {
    display: grid;
    row-gap: 1rem;

    @media screen and (min-width: v.$min-width) {
        padding-top: 1rem;
    }
}

.info_name {
    font-family: v.$ff-fraunces;
    font-weight: v.$fw-fraunces-black;
    font-size: v.$fs;
    color: v.$very-dark-desaturated-blue;
}

.info_role {
    font-family: v.$ff-barlow;
    font-size: calc(v.$fs / 1.325);
    color: v.$grayish-blue;
}